.benefits {
  padding-top: 84px;
  padding-bottom: 84px;
  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include desktop {
    padding-top: 157px;
    padding-bottom: 123px;
  }
  & .container {
    display: flex;
    flex-direction: column-reverse;
    @include desktop {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.benefits__list-container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
  }
}

.benefits__text-container {
  @include tablet {
    width: 500px;
  }
  @include desktop {
    margin-top: 9px;
  }
}

.benefits-list__item {
  width: 193px;
  height: 133px;
  @include tablet {
    width: 210px;
    height: 133px;
  }
  @include desktop {
    width: 170px;
    height: 133px;
  }
  background-color: #f7f7f7;
  padding: 20px 34px;
  @include tablet {
    padding: 20px 40px;
  }
  @include desktop {
    padding: 20px 24px;
  }
  &:nth-child(odd) {
    margin-right: 30px;
  }
  &:nth-child(even) {
    margin-top: 30px;
  }
}

.benefits-list {
  max-width: 418px;
  @include tablet {
    max-width: 450px;
  }
  @include desktop {
    max-width: 370px;
  }
  display: flex;
  flex-wrap: wrap;
}

.benefits-list__count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
  &::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--accent);
    vertical-align: top;
  }
}

.benefits-list__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits__top-text {
  margin-bottom: var(--typical-margin);
}

.benefits__title {
  margin-bottom: var(--typical-margin);
  font-size: 42px;
  line-height: 1.17;
}

.benefits__bottom-text {
  color: #555555;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 44px;
}
